{% extends "layout.html" %}

{% block content %}
  <main class="container-fluid">
    <div class="container" style="width: 40%">
      <h2 style="text-align: center">Log in</h2>

      <form action="/login" method="POST">
        {{ form.hidden_tag() }}

        <div class="form-group">
          {{ form.email.label }}

          {% if form.email.errors %}
            {% for error in form.email.errors %}
              <div class="alert alert-danger">
                {{ error }}
              </div>
            {% endfor %}
          {% endif %}

          {{ form.email(class="form-control") }}
        </div>

        <div class="form-group">
          {{ form.password.label }}

          {% if form.password.errors %}
            {% for error in form.password.errors %}
              <div class="alert alert-danger">
                {{ error }}
              </div>
            {% endfor %}
          {% endif %}

          {{ form.password(class="form-control")}}
        </div>

        {{ form.submit(class="btn btn-primary") }}
      </form>
    <form action="/wca_login">
        <input class="btn btn-success" type="submit" value="Login using WCA ID">
    </form>
    </div>
  </main>
{% endblock %}
