{% extends 'layout.html' %} {% block content %}

<main class="container signup-section">
    <div class="section-content" style="width: 40%; margin-left: auto; margin-right: auto;">
        <h2 style="text-align: center">Sign Up</h2>

        <form action="/signup" method="POST">
            {{ form.hidden_tag() }}

            <div class="form-group">
                {{ form.first_name.label }} {% if form.first_name.errors %}
                <div class="alert alert-danger">
                    {% for error in form.first_name.errors %} {{ error }} {% endfor %}

                </div>
                {% endif %} {{ form.first_name(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.last_name.label }} {% if form.last_name.errors %}
                <div class="alert alert-danger">
                    {% for error in form.last_name.errors %} {{ error }} {% endfor %}

                </div>
                {% endif %} {{ form.last_name(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.email.label }} {% if form.email.errors %}
                <div class="alert alert-danger">
                    {% for error in form.email.errors %} {{ error }} {% endfor %}

                </div>
                {% endif %} {{ form.email(class="form-control") }}
            </div>


            <div class="form-group">
                {{ form.password.label }} {% if form.password.errors %}
                <div class="alert alert-danger">
                    {% for error in form.password.errors %} {{ error }} {% endfor %}

                </div>
                {% endif %} {{ form.password(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.confirm_password.label }} {% if form.confirm_password.errors %}
                <div class="alert alert-danger">
                    {% for error in form.confirm_password.errors %} {{ error }} {% endfor %}
                </div>
                {% endif %} {{ form.confirm_password(class="form-control") }}
            </div>

            {{ form.submit(class="btn btn-primary") }}

            <br>
            <br>
            <p>If you have WCA ID, you can login <a href="{{ url_for('users.login') }}">here</a></p>

        </form>

    </div>
</main>
{% endblock %}