{% extends 'layout.html' %}
{% block content %}
<main class="container-fluid">
  <div class="container">
    <h2>Host Competition</h2>

    <form action="/host" method="POST">
      {{ form.hidden_tag() }}

      <div class="form-group">
        {{ form.name.label }}

        {% if form.name.errors %}
          {% for error in form.name.errors %}
          <div class="alert alert-danger">
            {{ error }}
          </div>
          {% endfor %}
        {% endif %}

        {{ form.name(class="form-control") }}
      </div>


      <div class="form-group">
        {{ form.location.label }}

        {% if form.location.errors %}
          {% for error in form.location.errors %}
          <div class="alert alert-danger">
            {{ error }}
          </div>
          {% endfor %}
        {% endif %}

        {{ form.location(class="form-control") }}
      </div>

      <div class="form-group">
        {{ form.date.label }}

        {% if form.date.errors %}
          {% for error in form.date.errors %}
          <div class="alert alert-danger">
            {{ error }}
          </div>
          {% endfor %}
        {% endif %}

        {{ form.date(class="form-control", type="date") }}
      </div>

      {{ form.submit(class="btn btn-primary") }}

    </form>

  </div>
</main>
{% endblock %}
