{% extends "layout.html" %}

{% block content %}
  <div class="container-fluid col-8" align="center" style="width: 90%">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script type="text/javascript" src="/static/js/chat.js"></script>

  <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){

      var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

      socket.on('connect', function(){
        socket.send('connected');
      });

      socket.on('message', function(msg){
        $("#chat").append("<li>"+msg+"</li>");
      });

      $("#sendbutton").on('click',function(){
        socket.send($("#text").val());
        $("#text").val('')
      });
    });
  </script>

        <div class="container-fluid" style = "align = center">
          <table class = "chatTable" style="width:100%">
            <tr>
              <th class = "chatCells">Competitors</th>
              <th class = "chatCells" style = "width:60%">Chat</th>
              <th class = "chatCells">Info</th>
            </tr>
            <tr>
              <td class = "chatCells">
              </td>
              <td class = "chatCells">
               <textarea readonly id="chat" cols="40" rows="20" style="resize: none"></textarea><br><br>
               <input id="text" size="40" placeholder="Enter your message here"><br><br>
               <button id="sendbutton" style="align: right">Send</button>
              </td>
              <td class = "chatCells">
                <textarea readonly id="info" cols="20" rows="20" style="resize: none; align: top"></textarea>
              </td>
           </tr>
       </table>
     </div>
   </div>
{% endblock %}
