{% include 'competition.html' %}
  <div class="container-fluid col-8">
    <div class="card">

    {% if comp.organizer_id == current_user.id %} <!-- Checks if user is the event organizer -->

      <form class="col-12 my-4" action="{{ url_for('manage.announcements', comp_id=comp.comp_id) }}" method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group my-0">
          {% if form.title.errors %}
            <div class="alert alert-danger">
              {% for error in form.title.errors %}
                {{ error }}
              {% endfor %}
            </div>
          {% endif %}

          {{ form.title(class="form-control") }}
        </div>

        <div class="form-group">
          {% if form.body.errors %}
            <div class="alert alert-danger">
              {% for error in form.body.errors %}
                {{ error }}
              {% endfor %}
            </div>
          {% endif %}

          {{ form.body(class="form-control") }}
        </div>

        {{ form.submit(class="btn btn-primary float-right") }}
      </form>
    {% endif %}

    <div class="container-fluid" align="left" style="margin-top: 5px">

      <table style="width:100%">
        {% for post in announcements %}
          <tr class="card my-4">
            <td>
              <h3 class="mx-3 my-1">{{ post.title }}</h3>
              <p class="mx-3">{{ post.body }}</p>
              <p class=" mx-3 float-right">{{ post.time_created }}  </h6>
              <form class="float-right" action="{{ url_for('manage.delete_annc', comp_id=comp.comp_id) }}" method="POST">
                <input type="hidden" value="{{ post.annc_id }}" name="post_to_delete"></input>
                <button type="submit" class="btn btn-danger">Delete</input>
              </form>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
    </div>

  </div>
