<div class="container-fluid col-8">
  <div class="container-fluid my-4 row">
    <h1 class="col-10">{{ comp.title }}</h1>
  </div>

  <nav>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a href="{{ url_for('manage.manage_comp', comp_id=comp.comp_id) }}"  class="nav-link text-dark ">Details</a>
      </li>
      <li class="nav-item">
        <a href="{{ url_for('manage.announcements', comp_id=comp.comp_id) }}" class="nav-link text-dark">Announcements</a>
      </li>
    </ul>
  </nav>
</div>

{% block content %}
{% endblock %}
