{% extends 'layout.html' %}

{% block content %}
<div class="container-fluid col-8">
  <div class="container-fluid my-4 row">
    <h1 class="col-10">{{ comp.title }}</h1>
    <p> {{ comp.address }}</p>
  </div>

  <nav>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a href="{{ url_for('manage.manage_comp', comp_id=comp.comp_id) }}"  class="nav-link text-dark ">Details</a>
      </li>
      <li class="nav-item">
        <a href="{{ url_for('manage.announcements', comp_id=comp.comp_id) }}" class="nav-link text-dark active">Announcements</a>
      </li>
      <li class="nav-item">
        <a href="{{ url_for('manage.manage') }}/{{ comp.comp_id }}/schedule" class="nav-link text-dark ">Schedule</a>
      </li>
      <li class="nav-item">
        <a href="{{ url_for('manage.manage') }}/{{ comp.comp_id }}/announcements" class="nav-link text-dark ">Directions</a>
      </li>
      <li class="nav-item">
        <a href="{{ url_for('manage.manage') }}/{{ comp.comp_id }}/announcements" class="nav-link text-dark ">Competitors</a>
      </li>
      <li class="nav-item">
        <a href="{{ url_for('manage.manage') }}/{{ comp.comp_id }}/announcements" class="nav-link text-dark ">Volunteeers</a>
      </li>
      <li class="nav-item">
        <a href="{{ url_for('manage.manage') }}/{{ comp.comp_id }}/announcements" class="nav-link text-dark ">Staff</a>
      </li>
    </ul>
  </nav>
</div>
{% endblock %}
