{% include 'competition.html' %}
<div class="container-fluid col-8">
    <div class="container my-4 mx-2">
        <h2>{{ comp.title }}</h2>
        <h2 class="font-weight-normal">{{ comp.address }}</h2>
        <div class="container-fluid col-6 float-left">
            <h5 class="mt-5">Competitors:</h5>
            <table class="table table-hover">
                <thead>
                    <th scope="col">First Name</th>
                    <th scope="col">LastName</th>
                </thead>
                <tbody>
                {% for competitor in comp.competitors %}
                    <tr>
                        <td>{{ competitor.first_name }}</td>
                        <td>{{ competitor.last_name }}</td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>

        </div>
    </div>
</div>
