{% extends 'competition_layout.html' %}
{% block comp_content %}
<div class="container-fluid card">
    <div class="container col-6">
        <dl>
            <dt class="col-4 text-align-right">Date:</dt>
            <dd class="col-8">{{ comp.date }}</dd>
            <dt class="col-4 text-align-right">Address:</dt>
            <dd class="col-8">{{ comp.address }}</dd>
        </dl>
    </div>

    <div class="container-fluid col-6 ml-0">
        <h5 class="mt-5">Competitors:</h5>
        <table class="table table-hover">
            <thead>
                <th scope="col">First Name</th>
                <th scope="col">LastName</th>
            </thead>
            <tbody>
            {% for competitor in comp.competitors %}
                <tr>
                    <td>{{ competitor.first_name }}</td>
                    <td>{{ competitor.last_name }}</td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
        {% if current_user not in comp.competitors %}
        <a href="{{ url_for('manage.register', comp_id=comp.comp_id) }}" class="btn btn-primary">Register</a>
        {% endif %}

    </div>
</div>
{% endblock %}
