{% extends 'competition_layout.html' %}
{% block comp_content %}
<div class="container mx-0 row card">
    <div class="container col-5 mx-0">
        <dl class="row my-2">
            <dt class="col-4 text-right">Date:</dt>
            <dd class="col-8">{{ comp.date }}</dd>
            <dt class="col-4 text-right">Address:</dt>
            <dd class="col-8">
                <p class="my-0">
                    {{ comp.address }}
                </p>
                <p class="my-0">{{comp.city}}, {{comp.state}}, {{comp.zipcode}}</p>
            </dd>
            <dt class="col-4 text-right">Organizer:</dt>
            <dd class="col-8">{{organizer.first_name}} {{organizer.last_name}}</dd>
        </dl>
    </div>

    <div class="container card col-7 px-0 mx-0 my-4">
        <p class="my-1 ml-1 font-weight-bold">Competitors:</h5>
        <table class="table table-sm table-hover">
            <thead>
                <th scope="col">First Name</th>
                <th scope="col">LastName</th>
            </thead>
            <tbody>
            {% for competitor in comp.competitors %}
                <tr>
                    <td>{{ competitor.first_name }}</td>
                    <td>{{ competitor.last_name }}</td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
        {% if current_user not in comp.competitors %}
        <a href="{{ url_for('manage.register', comp_id=comp.comp_id) }}" class="btn btn-primary">Register</a>
        {% endif %}

    </div>
</div>
{% endblock %}
