{% extends 'schedule.html' %}
{% block content %}
<div class="container-fluid card mt-4">
    <div class="my-4">
        <div class="row">
            <h3 class="mx-4">{{ event.event_name }}</h3>
            <h3 class="font-weight-normal">{{ event.event_round }}</h4>
            <h5 class=" mx-4 mt-2 font-weight-normal">{{ event.start_time.strftime('%I:%M %p') }} - {{ event.end_time.strftime('%I:%M %p') }}</h5>

        </div>
        <div class="container-fluid col-6 float-left">
            <h5 class="mt-5">Competitors:</h5>
            <table class="table table-hover">
                <thead>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                </thead>
                <tbody>
                {% for user in event.users %}
                    <tr>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>

        </div>
        <div class="container row">
        <!-- Volunteers Table -->
        <div class="container col-6 card mt-5">
            <h5 class="mt-4">Volunteers:</h5>
            <table class="table table-hover">
                <thead>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Role</th>
                </thead>
                <tbody>
                {% for vol in event_volunteers %}
                    <tr>
                        <td>{{ vol.user.first_name }}</td>
                        <td>{{ vol.user.last_name }}</td>
                        <td>{{ vol.volunteer_role }}</td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>

        </div>
        <!-- Staff Table -->
        <div class="container col-6 card mt-5">
            <h5 class="mt-4">Staff:</h5>
            <table class="table table-hover">
                <thead>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Role</th>
                </thead>
                <tbody>
                {% for staff in event_staff %}
                    <tr>
                        <td>{{ staff.user.first_name }}</td>
                        <td>{{ staff.user.last_name }}</td>
                        <td>{{ staff.staff_role }}</td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>

        </div>
    </div>
    </div>
</div>
{% endblock %}
