{% extends 'comp_schedule.html' %}
{% block content %}
<div class="container-fluid">
    <div class="my-4">
        <h1>{{ event.event_name }}</h1>
        <h4>{{ event.event_round }}</h4>
        <h5 class="font-weight-normal">{{ event.start_time }} - {{ event.end_time }}</h5>
        <div class="container-fluid col-6 float-left">
            <h5 class="mt-5">Competitors:</h5>
            <table class="table table-hover">
                <thead>
                    <th scope="col">First Name</th>
                    <th scope="col">LastName</th>
                </thead>
                <tbody>
                {% for competitor in event.competitors %}
                    <tr>
                        <td>{{ competitor.first_name }}</td>
                        <td>{{ competitor.last_name }}</td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
            <form action="{{ url_for('competitions.event', comp_id=comp.comp_id, event_id=event.event_id) }}" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.role.label }}
                    {{ form.role }}

                </div>

                {{ form.submit(class="btn btn-primary")}}


            </form>
        </div>
    </div>
</div>
{% endblock %}
