{% extends 'comp_schedule.html' %}
{% block content %}
<div class="container-fluid">
    <div class="my-4">
        <h1>{{ event.event_name }}</h1>
        <h4>{{ event.event_round }}</h4>
        <h5 class="font-weight-normal">{{ event.start_time }} - {{ event.end_time }}</h5>
        <div class="container-fluid col-6 float-left">
            <h5 class="mt-5">Competitors:</h5>
            <table class="table table-hover">
                <thead>
                    <th scope="col">First Name</th>
                    <th scope="col">LastName</th>
                </thead>
                <tbody>
                {% for competitor in event.competitors %}
                    <tr>
                        <td>{{ competitor.first_name }}</td>
                        <td>{{ competitor.last_name }}</td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>

        </div>
    </div>
</div>
{% endblock %}
