{% extends 'layout.html' %}

{% block content %}
<main class="container-fluid">
  <div class="col-8 offset-2">
    <h2 class="my-4">Find Competitions</h2>
    <table class="table">
      <thead>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Date</th>
      </thead>
      <tbody>
        {% for comp in competitions %}
          <tr>
            <td>{{ comp.title }}</td>
            <td>{{ comp.address }}</td>
            <td>{{ comp.date }}</td>
            <td><a href="{{ url_for('competitions.competition', comp_id=comp.comp_id) }}" class="btn btn-primary">View</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>
{% endblock %}
