{% include 'comp_nav.html' %}
<div class="container-fluid col-8">
    <div class="row">
        <div class="col-3 mt-4">
        <table style="width: 100%">
            {% for event in comp.events %}
            <tr class="card mt-0">
                <td class="mx-2">
                    <div class="container row mt-2 mb-0 pb-0" style="height:20px">
                        <p class="mx-2"><span class="font-weight-bold">{{ event.event_name }}</span></p>
                        <p>{{ event.event_round }}</p>
                    </div>
                    <p class="mx-2 my-0">{{ event.start_time.strftime('%I:%M %p') }} - {{ event.end_time.strftime('%I:%M %p') }}</p>
                    <a class="mb-2 mx-2 py-0 btn btn-primary" href="{{ url_for('competitions.event', comp_id=comp.comp_id, event_id=event.event_id) }}">View</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        </div>
        <div class="col-9">
        {% block content %}
        {% endblock %}
        </div>
    </div>
</div>
