{% include 'comp_nav.html' %}
  <div class="container-fluid col-8">
    <div class="card">
    <div class="container-fluid" align="left" style="margin-top: 5px">

      <table style="width:100%">
        {% for post in announcements %}
          <tr class="card my-4">
            <td>
              <h3 class="mx-3 my-1">{{ post.title }}</h3>
              <p class="mx-3">{{ post.body }}</h4>
              <p class=" mx-3 float-right">{{ post.time_created }}  </h6>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
    </div>

  </div>
