{% extends 'comp_schedule.html' %}
{% block content %}
<div class="container-fluid">
    <div class="my-4">
        <h1>{{ event.event_name }}</h1>
        <h4>{{ event.event_round }}</h4>
        <h5 class="font-weight-normal">{{ event.start_time }} - {{ event.end_time }}</h5>
        <h5 class="mt-5">Competitors:</h5>
        {% for competitor in event.competitors %}
        <p class="my-0">{{ competitor.first_name }} {{ competitor.last_name }}</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
