{% extends 'layout.html' %}

{% block content %}
<div class="container-fluid col-8">
    <div class="container-fluid my-4 row">
        <h1 class="col-10">{{ comp.title }}</h1>
        {% if current_user not in comp.competitors %}
            <a href="{{ url_for('competitions.register', comp_id=comp.comp_id) }}" class="btn btn-primary">Register</a>
        {% endif %}
        {% if comp.organizer_id == current_user.id %}
        <a href="{{ url_for('manage.manage_comp', comp_id=comp.comp_id) }}" class="btn btn-primary">Manage Competition</a>
        {% endif %}
        <p> {{ comp.address }}</p>
    </div>

    <nav>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a href="{{ url_for('competitions.competition', comp_id=comp.comp_id) }}"  class="nav-link text-dark ">Details</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('competitions.announcements', comp_id=comp.comp_id) }}" class="nav-link text-dark">Announcements</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('competitions.schedule', comp_id=comp.comp_id) }}" class="nav-link text-dark ">Schedule</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('competitions.competitors', comp_id=comp.comp_id) }}" class="nav-link text-dark ">Chat</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('competitions.competition', comp_id=comp.comp_id) }}" class="nav-link text-dark ">Directions</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('competitions.competition', comp_id=comp.comp_id) }}" class="nav-link text-dark ">Competitors</a>
            </li>
        </ul>
    </nav>
</div>
{% endblock %}
