{% extends "layout.html" %}

{% block content %}
<div class="container-fluid" align="center">
  <div class="navbar navbar-inverse btn-group">
    <button class="btn navbar-btn btn-default">Announcements</button>
    <button class="btn navbar-btn btn-default">Schedule</button>
    <button class="btn navbar-btn btn-default">Competitors</button>
    <button class="btn navbar-btn btn-default">Volunteers</button>
    <button class="btn navbar-btn btn-default">Staff</button>
  <!--  <button>Announcements</button>
    <button>Schedule</button>
    <button>Competitors</button>
    <button>Volunteers</button>
    <button>Staff</button>-->
  </div>
</div>
{% endblock %}
