{% extends "layout.html" %}

{% block content %}
  <h1>{{ eventName }}</h1>
  <div class="container-fluid" align="center" style="width: 90%">
    <div class="navbar navbar-inverse btn-group" style="padding-left:20px; padding-right:20px; width:80%">
        <button class="btn navbar-btn btn-default active" style="width: 20%">Announcements</button>
        <button class="btn navbar-btn btn-default" style="width: 20%">Schedule</button>
        <button class="btn navbar-btn btn-default" style="width: 20%">Competitors</button>
        <button class="btn navbar-btn btn-default" style="width: 20%">Volunteers</button>
        <button class="btn navbar-btn btn-default" style="width: 20%">Staff</button>
    </div>
    <div class="container-fluid background" align="left" style="margin-top: 5px">
      <table style="width:100%">
        {% for title, body, time in list %}
          <tr style="text-align:left">
            <td>
              <h3 style="padding-left: 10px">{{ title }}</h3>
              <h4 style="padding-left: 20px">{{ body }}</h4>
              <h6 style="float: right">{{ time }}  </h6>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
    {% if eventorganizer %} <!-- Checks if user is the event organizer -->
      <div style="margin-top: 20px">
        <input type="Text" placeholder="Title..." style="width: 90%; bold"></input>
        <textarea rows="4" placeholder="Announcement..." style="width: 90%; resize:none"></textarea><br>
        <button type="button" class="btn btn-default" style="float: right; margin-right: 5%; margin-top: 5px">POST</button>
      </div>
    {% endif %}

  </div>
{% endblock %}
