{% extends "layout.html" %}

{% block content %}
<main>
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-sm-4 offset-2">
        <a href="{{ url_for('host.host') }}" class="btn btn-dark btn-lg btn-block"><span class="text-light">Host a Competition</span></a>
      </div>
      <div class="col-sm-4">
        <a href="{{ url_for('manage.manage') }}" class="btn btn-dark btn-lg btn-block"><span class="text-light">Manage Competitions</span></a>
      </div>
    </div>

    <div class="text-center">

    </div>
  </div>
</main>
{% endblock %}
