{% extends "layout.html" %}
<p></p>
{% block content %}

<main>
  <div class="jumbotron text-center splash">
  <h1>Jumbotron with Image Overlay</h1>
    <p class="lead">Image taken from <a href="https://unsplash.com/photos/iIg4F2IWbTM" target="_blank">Unsplash.com</a</p>
  </div>
</main>


{% endblock %}

<!--
<main>
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-sm-4 offset-2">
                <a href="{{ url_for('host') }}" class="btn btn-dark btn-lg btn-block"><span class="text-light">Host a Competition</span></a>
            </div>
            <div class="col-sm-4">
                <a href="{{ url_for('manage') }}" class="btn btn-dark btn-lg btn-block"><span class="text-light">Manage Competitions</span></a>
            </div>
        </div>

        <div class="text-center">

        </div>
    </div>
</main>
-->
