{% extends 'layout.html' %}
{% block content %}
<main class="container-fluid">
  <div>
    <table class="table">
      <thead>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Date</th>
      </thead>
      <tbody>
        {% for comp in competitions %}
          <tr>
            <td>{{ comp.title }}</td>
            <td>{{ comp.address }}</td>
            <td>{{ comp.date }}</td>
            <td><a href=""></a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>
{% endblock %}
