<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> profile </title>
    <link rel="stylesheet" href="/static/css/signup.css">
  </head>
  <body>
    <section class="loginOrSignupField anim03 anim04c">
      <aside class="loginOrSignupFieldInner anim03 anim04c">

          <div class="switchButtonField">
              <div class="switchButtonOuter">
                  <div class="switchButtonInner anim03 anim04c"></div>
              </div>
          </div>

          <form class="emailForm" method="post" action="musabProje">
              <input type="text" id="email" class="input" value="" placeholder="E-mail">
              <input type="password" id="password" class="input" value="" placeholder="Password">
              <div id="rememberMeField">
                  <label>
                      <input type="checkbox" id="rememberMe">
                      <span></span>
                  </label>
              </div>
              <input type="submit" id="submit" value="Join">
          </form>

          <a href="#" class="socialButton facebook" target="_blank">Facebook</a>
          <a href="#" class="socialButton twitter" target="_blank">Twitter</a>
          <a href="#" class="socialButton googleplus" target="_blank">Google+</a>

      </aside>

      <nav class="navigations">
        <ul>
            <li>
                <span class="normal">normal</span>
            </li>
            <li>
                <span class="mode01">mode 2</span>
            </li>
            <li>
                <span class="mode02">mode 3</span>
            </li>
            <li class="designer">
                <a href="https://creativemarket.com/mselmany" target="_blank">
                    <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/t5/1117447_100001638983788_1284464661_q.jpg" alt="">
                </a>
            </li>
        </ul>
      </nav>
    </section>
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="/static/js/profile.js"></script>
  </body>
</html>
